{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
   <div class="w3-container">
        <table class="w3-table w3-striped">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transancted</th>
            </tr>
          
            <tr>
                <td>TSLA</td>
                <td>Tesla</td>
                <td>$686.37</td>
                <td>3 May 2018</td>
            </tr>

        </table>
    </div>
{% endblock %}
