{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
   <div class="w3-container">
        <table class="w3-table w3-striped">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transancted</th>
            </tr>
            {% for item in transactions %}
            <tr>
                <td>{{item.symbol}}</td>
                <td>{{item.shares}}</td>
                <td>${{item.price}}</td>
                <td>{{item.created_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
