{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class="w3-container">
        <table class="w3-table w3-striped">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.shares_quantity}}</td>
                <td>${{stock.price}}</td>
                <td>${{stock.get_total}}</td> 
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{holdings}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>${{totalCash}}</b></td>
            </tr>
        </table>
    </div>
{% endblock %}

